<!DOCTYPE html> 
<html lang="en">
    <% include header %> 
    <body>
        <% include navbar %>
        <!-- Main jumbotron for a primary marketing message or call to action --> 
        <div class="container-fluid text-left">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <% include leftsidebar %>
                </div>
                <div class="col-sm-9 text-left">
                    <% include dashboard %>
                </div>
            </div>
        </div>
    </body>
</html>