
<div class="btn-group btn-group-vertical btn-group-lg ticket_control_btn_group">
  <a href="#" class="btn btn-primary ticket_control_btn">Create</a>
  <a href="#" class="btn btn-primary ticket_control_btn">Edit</a>
  <a href="#" class="btn btn-primary ticket_control_btn">Delete</a>
</div>
<!-- TODO -->