<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Logo</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" data-toggle="modal" data-target="#myModal">Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Sign Up Form</h4>
			</div>
			<form id="user-form" action="/newUser" method="POST">
				<div class="modal-body">
					<p>
						<label for="UserName">Name : </label>
						<input type="text" name="UserName"/> <br> 
						<label for="UserAddress">Address :</label>
						<input type="text" name="UserAddress"/> <br> 
						<label for="UserPhone">Phone : </label>
						<input type="text" name="UserPhone"/> <br> 
					</p>
				</div>
				<div class="modal-footer">
				<input type="submit" class="btn btn-default" value="Sign Up"/>
				</div>
			</form> 
		</div>

	</div>
</div>

<script>
    $(function(){
       $('user-form').on('submit', function(e){
            e.preventDefault();
            $.ajax({
                url: "/newUser",
                type: "POST",
                data: $("user-form").serialize(),
                success: function(data){
	                
                }
            });
       }); 
    });
</script>